header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#background {
    background-image: url('https://img.freepik.com/premium-vector/old-paper-texture-background_108964-98.jpg?w=2000');
}

h1{
    font-size: 50px;
    color: darkslategray;
    text-align: center;
}

h2{
    color: darkslategray;
    text-align: center;
}

a{
    font-size: 100px;
}

footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

ol {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
}

ul {
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
}

p {
    font-size: 20px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}